# Ignore the executable
UPSY_unit_test_program
UPSY_unit_test_program_dev
UPSY_unit_test_program_perf

UPSY_multinode_unit_test_program
UPSY_multinode_unit_test_program_dev
UPSY_multinode_unit_test_program_perf

UPSY_component_test_program
UPSY_component_test_program_dev
UPSY_component_test_program_perf

UPSY_component_test_program_mesh_creation
UPSY_component_test_program_mesh_creation_dev
UPSY_component_test_program_mesh_creation_perf

UFEMISM_program
UFEMISM_program_dev
UFEMISM_program_perf

LADDIE_program
LADDIE_program_dev
LADDIE_program_perf

# Ignore build files
build/*

# Ignore scripts in main folder
/*.sh
/*.csh

# ...except for the compile scripts
!compile_UFEMISM.csh
!compile_UPSY.csh
!compile_LADDIE.csh

# Ignore output files
result*/

# Ignore MacOS files
.DS_Store

# Ignore SLURM output on Snellius
slurm-*.out

# Ignore Matlab autosave files
*.asv

# Ignore automated test reports
automated_testing/test_reports/*.html

# Ignore automated test figures
automated_testing/unit_tests/figures/*.png
automated_testing/component_tests/figures/*.png
automated_testing/component_tests/figures/*.avi

# Ignore temporary scoreboard files
automated_testing/component_tests/temporary_scoreboard_files/*.xml

# Ignore unnecessary python stuff
*__pycache__
tools/python/klooi.ipynb

# Ignore input files for Berends2023 nudging experiments
automated_testing/integrated_tests/idealised/Berends2023_nudging/experiment_I/input_data/*.nc
automated_testing/integrated_tests/idealised/Berends2023_nudging/experiment_II/input_data/*.nc


# Ignore linting mods
linting_mods/*

Testing_with_water_pressure/config_default.cfg
Testing_with_water_pressure/transect_westeast.nc
Testing_with_water_pressure/scalar_output_ANT_00001.nc
Testing_with_water_pressure/restart_pc_scheme_00001.nc
Testing_with_water_pressure/restart_ice_velocity_DIVA_00001.nc
Testing_with_water_pressure/restart_file_
Testing_with_water_pressure/main_output_ANT_grid.nc
Testing_with_water_pressure/main_output_ANT_00001.nc
Testing_with_water_pressure/ismip_scalar_output_ANT_00001.nc
Testing_with_water_pressure/checksum_logfile.txt
Testing_water_layer_effective_pressure/transect_westeast.nc
Testing_water_layer_effective_pressure/scalar_output_ANT_00001.nc
Testing_water_layer_effective_pressure/restart_pc_scheme_00001.nc
Testing_water_layer_effective_pressure/restart_ice_velocity_DIVA_00001.nc
Testing_water_layer_effective_pressure/restart_file_
Testing_water_layer_effective_pressure/main_output_ANT_grid.nc
Testing_water_layer_effective_pressure/main_output_ANT_00001.nc
Testing_water_layer_effective_pressure/ismip_scalar_output_ANT_00001.nc
Testing_water_layer_effective_pressure/config_default.cfg
Testing_water_layer_effective_pressure/checksum_logfile.txt
Testing_neg_ice/transect_westeast.nc
Testing_neg_ice/scalar_output_ANT_00001.nc
Testing_neg_ice/restart_pc_scheme_00001.nc
Testing_neg_ice/restart_ice_velocity_DIVA_00001.nc
Testing_neg_ice/restart_file_
Testing_neg_ice/main_output_ANT_grid.nc
Testing_neg_ice/main_output_ANT_00001.nc
Testing_neg_ice/ismip_scalar_output_ANT_00001.nc
Testing_neg_ice/config_02_5km_spinup.cfg
Testing_neg_ice/checksum_logfile.txt
Testing_Martin/transect_westeast.nc
Testing_Martin/scalar_output_ANT_00001.nc
Testing_Martin/restart_pc_scheme_00001.nc
Testing_Martin/restart_ice_velocity_DIVA_00001.nc
Testing_Martin/restart_file_
Testing_Martin/main_output_ANT_grid.nc
Testing_Martin/main_output_ANT_00001.nc
Testing_Martin/ismip_scalar_output_ANT_00001.nc
Testing_Martin/config_default.cfg
Testing_Martin/checksum_logfile.txt
Testing/transect_westeast.nc
Testing/scalar_output_ANT_00001.nc
Testing/restart_pc_scheme_00001.nc
Testing/restart_ice_velocity_DIVA_00001.nc
Testing/restart_file_
Testing/main_output_ANT_grid.nc
Testing/main_output_ANT_00001.nc
Testing/ismip_scalar_output_ANT_00001.nc
Testing/config_default.cfg
Testing/checksum_logfile.txt
Spin_up_with_basal_hydro_part0/transect_westeast.nc
Spin_up_with_basal_hydro_part0/scalar_output_ANT_00001.nc
Spin_up_with_basal_hydro_part0/restart_pc_scheme_00001.nc
Spin_up_with_basal_hydro_part0/restart_ice_velocity_DIVA_00001.nc
Spin_up_with_basal_hydro_part0/restart_file_
Spin_up_with_basal_hydro_part0/main_output_ANT_grid.nc
Spin_up_with_basal_hydro_part0/main_output_ANT_00001.nc
Spin_up_with_basal_hydro_part0/ismip_scalar_output_ANT_00001.nc
Spin_up_with_basal_hydro_part0/config_01_5km_spinup_part0.cfg
Spin_up_with_basal_hydro_part0/checksum_logfile.txt
Data_MISMIPplus_run_with_basal_hydro/transect_westeast.nc
Data_MISMIPplus_run_with_basal_hydro/scalar_output_ANT_00001.nc
Data_MISMIPplus_run_with_basal_hydro/restart_pc_scheme_00001.nc
Data_MISMIPplus_run_with_basal_hydro/restart_ice_velocity_DIVA_00001.nc
Data_MISMIPplus_run_with_basal_hydro/restart_file_
Data_MISMIPplus_run_with_basal_hydro/main_output_ANT_grid.nc
Data_MISMIPplus_run_with_basal_hydro/main_output_ANT_00001.nc
Data_MISMIPplus_run_with_basal_hydro/ismip_scalar_output_ANT_00001.nc
Data_MISMIPplus_run_with_basal_hydro/config_default.cfg
Data_MISMIPplus_run_with_basal_hydro/checksum_logfile.txt
Data_MISMIPplus_run/transect_westeast.nc
Data_MISMIPplus_run/scalar_output_ANT_00001.nc
Data_MISMIPplus_run/restart_pc_scheme_00001.nc
Data_MISMIPplus_run/restart_ice_velocity_DIVA_00001.nc
Data_MISMIPplus_run/restart_file_
Data_MISMIPplus_run/main_output_ANT_grid.nc
Data_MISMIPplus_run/main_output_ANT_00001.nc
Data_MISMIPplus_run/ismip_scalar_output_ANT_00001.nc
Data_MISMIPplus_run/config_default.cfg
Data_MISMIPplus_run/checksum_logfile.txt
