name: UFEMISM Test Suite - install and cache Python
run-name: ${{ github.actor }} - UFEMISM Test Suite - install and cache Python
on:
  workflow_call:

jobs:
  install_python:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code Repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.14"

      - name: Set up Conda (Miniforge)
        uses: conda-incubator/setup-miniconda@v3
        with:
          miniforge-variant: Miniforge3
          miniforge-version: latest
          channels: conda-forge
          channel-priority: strict
          auto-update-conda: true
          use-mamba: false

      - name: Install dependencies
        run: | 
          conda create -y -n upsy -f environment.yml -c conda-forge
          conda activate upsy
          # Test commands
          upsy-plot-2dfigure --help
          upsy-plot-3dfigure --help

