name: UFEMISM Test Suite - install and cache Python
run-name: ${{ github.actor }} - UFEMISM Test Suite - install and cache Python
on:
  workflow_call:

jobs:
  install_python:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code Repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.14"
          cache: 'pip'

      - name: Install dependencies
        run: | 
          conda env create -y -n upsy -f environment.yml
          conda init
          conda activate upsy
          python -m pip install -e . --no-deps --no-build-isolation

